:root {
  --green: rgb(42, 161, 61);
  --yellow: rgb(231, 188, 1);
  --red: rgb(191, 19, 17);
}

body {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.priority-1 {
  background-color: var(--red) !important;
}

.priority-2 {
  background-color: var(--yellow) !important;
}

.priority-3 {
  background-color: var(--green) !important;
}

button,
button:hover,
button:focus {
  background-color: transparent;
  border: none;
  color: inherit;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
  font: inherit;
  padding: 0;
}

div[tabindex="0"] {
  cursor: pointer;
}
